################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/_ReSharper.Caches/ReSharperPlatformVs16203_3d9b0863.00
